html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Twitch TV
		meta(name="description" content="Monitor the status of popular Overwatch Twitch channels from one page.")
		///////////////////// CSS Stylesheets ////////////////////
		link(rel="stylesheet" href="dist/style.css")
		link(rel="stylesheet" href="dist/normalize.css")
		//////////////////// external JS ////////////////////////
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src ="dist/script.js") 

	//////////////////// End Head ////////////////////////////
	body
		header
			.logo
				img(src="dist/ow-small.png" id="OW")
				img(src="dist/logo-small.png" id="twitch")
			button.switch
				.circ.on 
				| Online
			button.switch
				.circ.off
				| Offline
			button.switch
				.circ.grey
				| All
		main
			.top
				img(src="dist/ow-logo.png" id="title")
			.ul
				.li >	Individual Channels
				.li > Team Channels
				.li > Tournament Channels