html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title FCC Weather App
		meta(name="description" content="Describe your page here.")
		meta(name="keywords" content="relevant tags go here")
		///////////////////// CSS Stylesheets ////////////////////
		link(rel="stylesheet" href="\style.css")
		link(rel="stylesheet" href="dist/normalize.css")
		//////////////////// external JS ////////////////////////
		script(src ="\script.js") 

	//////////////////// End Head ////////////////////////////
	body
		main